html, body, #page-content {
    height: 100%;
}

#prog-controller {
    height: 70%;
}

#prog-input, #prog-textarea {
    height: 100%;
}

#actor-id-info {
    font-size: 14pt;
    height: 40px;
}

#actor-info-id, #actor-info-beh, #actor-info-cr {
    margin-bottom: 10px;
}

#actor-info-table {
    margin-left: 0px;
    margin-right: 0px;
}
