html, body, #page-content {
    height: 100%;
}

#prog-textarea {
    background-color: #323232;
    border: 1px solid #000;
    color: #bdbdbd;
    font-family: "Lucida Console", Courier, monospace;
}

#prog-controller {
    height: 70%;
}

#prog-input, #prog-textarea {
    height: 100%;
}

#actor-id-info {
    font-size: 14pt;
    height: 40px;
}

#actor-info-id, #actor-info-beh, #actor-info-cr {
    margin-bottom: 10px;
}

#actor-info-table {
    margin-left: 0px;
    margin-right: 0px;
}

#display-heading {
    line-height: 2em;
}

.green {
    color: #51a351;
}

#overview-heading-container {
    margin-top: 10px;
    text-align: center;
}

#overview-table th {
    border-top: none !important;
}

#output-content {
    margin-top: 10px;
}

.overview-menu .btn-group {width:100%;}
.overview-menu .btn-group .btn {width:100%;}
.overview-menu .btn-group .btn.dropdown-toggle {width:100%;}
.overview-menu .btn-group .dropdown-menu {width:100%;}

.enckeys {
    display: table-cell;
    vertical-align: middle;
}

.glyphicon-info-sign {
    float: right;
}

.save {
    position: relative;
    top: -7px;
}
