html, body, #page-content {
    height: 100%;
}

#prog-textarea {
    background-color: #323232;
    border: 1px solid #000;
    color: #bdbdbd;
    font-family: "Lucida Console", Courier, monospace;
}

#prog-controller {
    height: 70%;
}

#prog-input, #prog-textarea {
    height: 100%;
}

#actor-id-info {
    font-size: 14pt;
    height: 40px;
}

#actor-info-id, #actor-info-beh, #actor-info-cr {
    margin-bottom: 10px;
}

#actor-info-table {
    margin-left: 0px;
    margin-right: 0px;
}

#display-heading {
    line-height: 2em;
}

.glyphicon {
    float: right;
}
